<form [formGroup]="group" (ngSubmit)="emitSearch()" class="grid grid-cols-3">
    <div></div>
    <mat-form-field appearance="outline">
        <mat-label>Ingresa el nombre o el id de un pokemon</mat-label>
        <input matInput placeholder="1 o pikachu" type="text" formControlName="search">
        <button mat-icon-button matSuffix type="submit">
            <mat-icon>search</mat-icon>
        </button>
        <mat-error *ngIf="group.get('search').errors && group.get('search').touched">
            <p *ngIf="group.get('search').hasError('required')">El nombre del pokemon es necesario</p>
        </mat-error>
    </mat-form-field>
    <div></div>
</form>